PORT=8273 # Port on which the server will run
ENDPOINT_URL=https://api.senddb.dev/api/v1/level/ # SendDB API endpoint to get a level's data

NOT_SENT_EXPIRATION=5 # Amount of time (in minutes) until not sent levels are cleared up from the temporary cache to be re-checked

SENT_CACHE=60 # For how much time (in minutes) will sent levels be cached by Cloudflare
NOT_SENT_CACHE=5 # For how much time (in minutes) will not sent levels be cached by Cloudflare